/*中间部分*/
.centent{
	width: 100%;
	background-color: white;
	margin-top: 10px;
}
.centent_cen{
	width: 1200px;
	margin: 0 auto;
	background-color: white;
}
/*********************************************************/
/*中间第一部分*/
.centent_cen_frist{
	margin: 0px !important;
}
/*中间第一部分左边*/
.centent_cen_frist_l{
	padding: 0px !important;
}
.centent_frist_l_a{
	width: 90px;
    height: 299px;
    background: #3d3d3d;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0,0,0,.12);
}
.centent_frist_l_a ul{
	padding: 0;
	margin: 0;
}
.centent_frist_l_a ul li{
	position: relative;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
}
.centent_frist_l_a_hot{
	background-color: white;
    color: #6c6c6c !important;
    text-shadow: none !important;
}
/*1111*/
.centent_frist_l_b{
	position: relative;
    width: 600px;
    height: 299px;
    background-color: burlywood;
}
.centent_frist_l_b_tab{
	display: none;
}
.centent_frist_l_b_tabnav{
	position: relative;
    border-bottom: 1px solid #e1e1e1;
    height: 42px;
}
/*中间第一部分右边*/

/*中间第一部分*/
/*********************************************************/
/*中间部分*/
/*********************************************************/