body{
	margin: 0;
	padding: 0;
	background-color: white;
}
.header{
	height: 130px;
	background: gold;
}
.main{
	width: 1200px;
	margin: 0 auto;
}
/*主要内容上部分开始*/
.main-top{
	margin-top: 10px;
    position: relative;
}
/*主要内容上部分左边开始*/
.main-topl{
	width: 301px;
	height: 738px;
	float: left;
	padding-top: 5px;
    border:1px solid #e1e5e8;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,.27);
    background-color: #f5f7f7;
    margin-right: 1px;
    overflow: hidden;
    /*width: 289px;*/    
   
 
}
.main-topl-1{
	background: url(../../img/tyw/dot.png) no-repeat 10px 8px;
}
.main-topl-1:hover{
	background-color: lavender;
}
.main-topl-11{
	padding-left: 32px;
}
.main-topl-1 h3{
	margin: 0;
}
.main-topl-1 h3 span{
	color:#3d3d3d;
}
.main-topl-1 ul{
	padding-left: 0;
	padding-bottom: 8px;
	border-bottom: 1px solid #ebeeef;
	margin-right: 25px;
	margin-bottom: 0;
}
.main-topl-1 ul li{
	list-style: none;
	float: left;
	
}
.main-topl-1 ul li a{
	color: #666;
	text-decoration: none;
	font-size: 12px;
}
.main-topl-1 ul li a:hover{
	text-decoration: underline;
}
.separator{
	padding-left: 8px;
	padding-right: 8px;
	color: #e6e6e6;
}


.main-topl-2, .main-topl-3{
	background: url(../../img/tyw/dot.png) no-repeat 10px 8px;
	padding-left:32px ;
}
.main-topl-22 h3{
	/*padding-left: 32px;*/
}

.main-topl-22 ul li,.main-topl-33 ul li{
  list-style: none;
  float: left;
}
dl{
	height: 30px;
	margin-bottom: 0;
	margin-left: -32px;
	padding: 0 32px;
}
 .main-topldl:hover{
	background:#E3E3E3;
}
dt{
	float: left;
	color: #a5a5a5;
	width: 50px;
	height: 30px;
	line-height: 30px;
}
dd{
	float:left;
	height: 30px;
	line-height: 30px;

}
dd ul{
	padding-left: 0;
	
}
dd ul li a{
	color: #3d3d3d;
	font-size: 12px;
}

/*主要内容上部分右边开始*/
.main-topr{
	float: left;
	/*background-color: navajowhite;*/
}
.main-topr1l{
	width: 698px;
	float: left;	
}
.main-topr1r{
	width: 190px;
	float: left;
}
.main-topr1r img:first-child{
	margin-bottom: 8px;
}

/*图片轮番开始*/
.banner_page_center {
    position: relative;
}
 
.page_img {
	padding: 0;
}
.page_img li {
    display: none;
    cursor: pointer;
    list-style: none;
}

.page_con li{
	font-size:12px ;
} 
.banner_page_center ul{
	margin: 0;
}
.banner_page_center .page_con {
    position: absolute;
    bottom: 0px;
    right: 10px;
    float: right;

}
 
.banner_page_center .page_con li {
    width: 15px;
    height: 15px;
    padding-top: 3px;
    text-align: center;
    display: inline-block;
    /*background-color: black;*/
    border-radius: 10px;
    margin-left: 13px;
    cursor: pointer;
}
/*图片轮番结束*/
.tan{
	padding-top: 23px;
}
.baozhang{
	border-bottom: 1px solid lightgray;
	padding-bottom: 4px;
}
.baozhang1{
	/*height: 140px;*/
	width: 138px;
	text-align: center;
	border-right: 1px solid lightgray;
	
}
.baozhang1 h2{
	margin: 0;
	background: url(../../img/tyw/gou.png) no-repeat 58px 0px;
	height: 20px;

}
.baozhang1 p{
	margin: 0;
}

.pop:hover .pop-list{
	display: block;
}
.pop-list{
	border-top: 5px cadetblue solid;
}
.arrow2{
	border-bottom-color: cadetblue !important;
}

/*右边内容的块二开始*/
.main-topr2{
	width: 804px;
}
.main-topr2-con{
	margin: 0;
}
.main-topr22{
	position: relative;
	padding: 0px;
	padding-left: 11px;
}
.main-topr22 .l-img:hover{
	border: 1px grey solid;
}
.main-topr22 .l-img{
	border: 1px solid white;
	border-top: 2px orangered solid;
}
.money{
	padding: 6px 8px;
	background: url(../../img/tyw/money.png) no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;	
}
.decaration{
	background:url(../../img/tyw/black.png) no-repeat;
	position: absolute;
	bottom: -1px;
	height: 50px;
	width: 190px;
	text-align: center;
}
.decaration a{
	display: block;
	margin-top: 25px;
	color: white;
	
}
/*右边内容的块二结束*/
.bacg{
	position: absolute;
	top:510px;
	z-index: -1;
}
.top1{
	margin-left: -155px;
	
}
.top2{
	right: -779px;
    position: absolute;
}
/*主要内容上部分结束*/
/*境内游开始*/
.jingnei{
	margin-top: 30px;
}
.jingnei header{
	height: 30px;
	border-bottom: 2px solid #ffc900;
}
.jingnei header h3{
	display: block;
	float: left;
	color: orangered;
	margin: 0;
	margin-right: 8px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
}
.jingnei header p{
	margin: 0;
	color: #a0acbc;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
}
.jingnei nav{
	margin-top: 17px;
	margin-bottom: 11px;
}
.jingnei dt{
	width: 110px;
	font-weight: 700;
	color: #355976;
}
.jingnei dd{
	margin-right: 10px;
	padding: 0px 7px 0px 7px;
	/*background: firebrick;*/
	
}
.jingnei dd a{
	color: black;	
}
.jingnei dd:nth-child(2){
	background: #ffc900;
}

.jingnei dd:nth-child(2) a{
	color: white;
}
.jingnei dd:hover{
	background-color: #ffc900;
	text-decoration: none;
}
.jingnei dl a:nth-child(7){
	color: black;
}
.del{
	padding: 0;

}

.dem-con1{
	position: relative;
	text-align:right;
	height: 185px;
}
.dem-con1 img{
	height: 185px;
}
.de-title{
	background: url(../../img/tyw/black.png) no-repeat;
	height: 50px;
	position: absolute;
	bottom: 35px;
	width: 190px;
	text-align: center;
}
.de-title a{
	color: white;
	padding-top: 25px;
	display: block;
}
.de-con span{
	padding: 10px 10px;
}
.de-con p{
	margin: 0;
}
.de-con{
	/*height: 50px;*/
	width: 190px;
	position: absolute;
	background: #ffc900;
	bottom: 0px;
}

.intro{
	background: #ee5743;
	height: 185px;
}
.intro p:first-child{
	background: #f77665;
	padding-top: 20px;
	text-align: center;
	padding: 10px 10px;
	font-weight: bolder;
	font-size: 16px;
}

.intro p:nth-child(2){
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 18px;
	padding-bottom: 18px;
	text-align: center;
	font-size: 12px;
	color: #3D3D3D;
	/*margin-bottom: 30px;*/
}
.intro a:nth-child(3){
	display: block;
	text-align: center;
	color: white;
	font-weight: bold;
	padding-top: 20px;
	text-align: center;
}

/*境内游结束*/

/*旅游周边开始*/
.arround{
	margin-top: 10px;
	border-bottom: 2px solid #ffc900;
}
.zhoubian>div{
	/*height: 120px;*/
}
/*旅游周边结束*/