*{
	margin: 0;
	padding: 0;
}
.f12{font-size: 12px;}
.f14{font-size: 14px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.detail_content{
	min-width: 1200px;
}
/*搜索栏*/
.shop_searchL{
	padding-left: 35px;
	min-width: 340px;
}
.shop_searchM{
	margin-top: 30px;
	padding: 0px 30px;
	position: relative;
	min-width: 360px;
}
.shop_searchM>input{
	position: absolute;
	width: 250px;
	left: 55px;
	top: 3px;
	color: #999999;
	height: 28px;
	background-color: transparent;
	border: none;
	outline: none;
}
.shop_searchM>button{
	position: absolute;
	right: -5px;
	top: 3px;
	height: 28px;
	width: 85px;
	background-color: transparent;
	border: none;
	outline: none;
	background: url;
	cursor: pointer;
}
.shop_searchM>ul{
	margin-left: 30px;
	line-height: 30px;
}
.shop_searchM>ul li{
	margin-right: 10px;
	color: #666;
}
.shop_searchM>ul li a:link,.shop_searchM>ul li a:visited{
	color: #666;
	text-decoration: none;
}
.shop_searchR{
	margin-left: 30px;
	min-width: 320px;
	margin-top: 10px;
}
.shop_nav{
	background-color: #7ea12b;
	height: 24px;
	line-height: 24px;
}
.shop_nav>ul{padding-left: 30px;margin-bottom: 0px;}
.shop_nav>ul li:first-of-type{
	margin-right: 50px;
}
.shop_nav>ul li{
	margin-right: 15px;
	color: white;
	padding: 0px 5px;
	cursor: pointer;
}
.shop_nav>ul li a:link,.shop_nav>ul li a:visited{
	color: white;
	text-decoration: none;
}
.shop_nav>ul li:hover{
	background-color: #66861A;
	border-radius: 12px;
}
.shop_nav>ul li:first-of-type:hover{background-color: transparent}
/*主图*/
.item{background:#fff; width:400px; height:auto; float:left; }
.big-photo img{ width:400px; height:400px; border:1px solid #e0e0e0}
.des-small img{ width:65px; height:65px;border:2px solid transparent; margin-right: 9px;margin-top: 10px;}
.des-small img:hover{ border:2px solid orangered}
.detail_1st{
	width: 1200px;
	margin: 20px auto;
	padding: 20px 15px;
	border: 1px #CCCCCC solid;
}
/*右边价格信息*/
.detail_1stR{
	margin-left: 20px;
}
.detail_1stR>span:first-of-type{
	line-height: 35px;
}
.yellow_White{
	color: white;
	padding: 3px;
	background-color: #ffc900;
	font-size: 12px;
	vertical-align: middle;
}
.detail_1stR>ul{
	width: 748px;
	background-color: #f8f8f8;
	padding: 10px 0px;
	position: relative;
}
.detail_1stR>ul li{
	padding-left: 45px;
	background: url(../../img/SuImg/bg.png)no-repeat 20px -27px;
	color: #666666;
	line-height: 25px;
}
/*气泡*/
.detail_arrow{
	position: absolute;
	top: 42px;
	left: -30px;
	width:0;
	height:0;
	font-size:0;
	border:solid 15px;
	border-color:transparent #f8f8f8 transparent transparent;
}
.detail_1stR>p a:link,.detail_1stR>p a:visited{
	color: #666666;
	text-decoration: none;
}
.detail_price{
	padding-left:20px;
	background: url(../../img/bg1.png);
	width: 748px;
	background-size: cover;
	height: 80px;
	line-height: 80px;
}
.detail_price>font{
	color: #ff5000;
	margin-left: 55px;
	display: inline-block;
	width: 380px;
}
.detail_price>ul{
	display: inline-block;
	line-height: 20px;
	vertical-align: middle;
	margin-top: 5px;
	margin-left: 15px;
}
.detail_price>ul>li:first-of-type{
	color: #ee7500;
}
.detail_price>ul>li:last-of-type{
	padding-right: 15px;
	border-right: 1px #ccc solid;
	color: #a5a5a5;
}
.detail_price>ul>li>font{
	color: #CCCCCC;
}
.detail_price+div{
	background-color: #f8f8f8;
}
.detail_span{
	display: inline-block;
	width: 100px;
	padding-left: 20px;
	line-height: 30px;
	font-size: 12px;
}
.detail_span_2nd{display: inline-block;width: 260px;font-size: 12px;}
.promise{
	padding-left: 20px;
	background: url(../../img/SuImg/bg.png)no-repeat 0px -227px;
}
.type>a{
	font-size: 12px;
	display: inline-block;
	padding: 5px 8px;
	border: 1px solid #e0e0e0;
	margin-right: 8px;
}
.type>a:link,.type>a:visited{
	color: #333;
	text-decoration: none;
}
.type>a:hover{
	border-color: orangered;
}


/*日期选择器*/




.count>input{
	width: 60px;
	height: 32px;
	border: #e0e0e0 1px solid;
	padding-left: 5px;
	font-weight: bold;
}
.count>button{
	width: 18px;
	height: 14px;
	border: 1px solid #CCCCCC;
	margin-left: 2px;
	outline: none;
}
.btn_up{
	background: url(../../img/btn.png)no-repeat 0px -150px;
}
.btn_down{
	background: url(../../img/btn.png)no-repeat 0px -188px;
}
.count+span{
	line-height: 35px;
	margin-left: 10px;
	color: #666;
}
.buy,.add{
	width: 183px;
	height: 40px;
	border-radius: 5px;
	border: 1px #ee9900 solid;
	outline: none;
}
.buy{
	background-color: #ff5000;
	color: white;
}
.buy:hover{
	background-color: #f71d00;
	border: 1px #f71d00 solid;
}

.add{
	margin-left: 5px;
	background-color: white;
	color: #ee9900;
}
.add:hover{
	background-color:#ffeeae;
}
.collect>a{
	padding-left: 20px;
	background: url(../../img/SuImg/bg.png)no-repeat 0 -160px;
}
.collect>a:link,.collect>a:visited{
	text-decoration: none;
	color: #999999;
}
.collect>a:hover{
	color: #f5b33c;
}
.tips>a{
	padding-left: 20px;
	background: url(../../img/SuImg/bg.png)no-repeat 0 -188px;
}
