*{
	margin: 0;
	padding: 0;
}

.f12{font-size: 12px;}
.f14{font-size: 14px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.detail_content{
	min-width: 1200px;
	background-color: white;
}
/*搜索栏*/
.shop_searchL{
	padding-left: 35px;
	min-width: 340px;
}
.shop_searchM{
	margin-top: 30px;
	padding: 0px 30px;
	position: relative;
	min-width: 360px;
}
.shop_searchM>input{
	position: absolute;
	width: 250px;
	left: 55px;
	top: 3px;
	color: #999999;
	height: 28px;
	background-color: transparent;
	border: none;
	outline: none;
}
.shop_searchM>button{
	position: absolute;
	right: -5px;
	top: 3px;
	height: 28px;
	width: 85px;
	background-color: transparent;
	border: none;
	outline: none;
	background: url;
	cursor: pointer;
}
.shop_searchM>ul{
	margin-left: 30px;
	line-height: 30px;
}
.shop_searchM>ul li{
	margin-right: 10px;
	color: #666;
}
.shop_searchM>ul li a:link,.shop_searchM>ul li a:visited{
	color: #666;
	text-decoration: none;
}
.shop_searchR{
	margin-left: 30px;
	min-width: 320px;
	margin-top: 10px;
}
.shop_nav{
	background-color: #7ea12b;
	height: 24px;
	line-height: 24px;
}
.shop_nav>ul{padding-left: 30px;margin-bottom: 0px;}
.shop_nav>ul li:first-of-type{
	margin-right: 50px;
}
.shop_nav>ul li{
	margin-right: 15px;
	color: white;
	padding: 0px 5px;
	cursor: pointer;
}
.shop_nav>ul li a:link,.shop_nav>ul li a:visited{
	color: white;
	text-decoration: none;
}
.shop_nav>ul li:hover{
	background-color: #66861A;
	border-radius: 12px;
}
.shop_nav>ul li:first-of-type:hover{background-color: transparent}
/*主图*/
.item a{display:inline-block;background-color: white; vertical-align: baseline;}
.item{background:#fff; width:400px; height:auto; float:left; }
.big-photo img{ width:400px; height:400px; border:1px solid #e0e0e0}
.des-small img{ width:65px; height:65px;border:2px solid transparent;margin-right: 9px;margin-top: 10px;}
.des-small img:hover{ border:2px solid orangered}
.detail_1st{
	width: 1200px;
	margin: 20px auto;
	padding: 20px 15px;
	border: 1px #CCCCCC solid;
}
/*右边价格信息*/
.detail_1stR{
	margin-left: 20px;
}
.detail_1stR>span:first-of-type{
	line-height: 35px;
}
.yellow_White{
	color: white;
	padding: 3px;
	background-color: #ffc900;
	font-size: 12px;
	vertical-align: middle;
}
.detail_1stR>ul{
	width: 748px;
	background-color: #f8f8f8;
	padding: 10px 0px;
	position: relative;
}
.detail_1stR>ul li{
	padding-left: 45px;
	background: url(../../img/SuImg/bg.png)no-repeat 20px -27px;
	color: #666666;
	line-height: 25px;
}
/*气泡*/
.detail_arrow{
	position: absolute;
	top: 42px;
	left: -30px;
	width:0;
	height:0;
	font-size:0;
	border:solid 15px;
	border-color:transparent #f8f8f8 transparent transparent;
}
.detail_1stR>p a:link,.detail_1stR>p a:visited{
	color: #666666;
	text-decoration: none;
}
.detail_price{
	padding-left:20px;
	background: url(../../img/SuImg/bg1.png);
	width: 748px;
	background-size: cover;
	height: 80px;
	line-height: 80px;
}
.detail_price>font{
	color: #ff5000;
	margin-left: 55px;
	display: inline-block;
	width: 380px;
}
.detail_price>ul{
	display: inline-block;
	line-height: 20px;
	vertical-align: middle;
	margin-top: 5px;
	margin-left: 15px;
}
.detail_price>ul>li:first-of-type{
	color: #ee7500;
}
.detail_price>ul>li:last-of-type{
	padding-right: 15px;
	border-right: 1px #ccc solid;
	color: #a5a5a5;
}
.detail_price>ul>li>font{
	color: #CCCCCC;
}
.detail_price+div{
	background-color: #f8f8f8;
}
.detail_span{
	display: inline-block;
	width: 100px;
	padding-left: 20px;
	line-height: 30px;
	font-size: 12px;
}
.detail_span_2nd{display: inline-block;width: 260px;font-size: 12px;}
.choose>p:nth-of-type(2)>span>span{
	margin-top: 8px;
}
.promise{
	padding-left: 20px;
	background: url(../../img/SuImg/bg.png)no-repeat 0px -225px;
}
.type{
	position: relative;
	
}
.type>span{
	font-size: 12px;
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid #e0e0e0;
	margin-right: 8px;
	cursor: pointer;
}
.type>i{
	position: absolute;
	display: inline-block;
	width: 12px;
	z-index: 1;
	height: 12px;
	background: url(../../img/SuImg/btn.png)-46px -150px;
	right: 7px;
	bottom: -6px;
	display: none;
}
.type>span:link,.type>span:visited{
	color: #333;
	text-decoration: none;
}
.type>span:hover{
	border-color: orangered;
}


/*日期选择器*/
.date_selector, .date_selector *{width: auto;height: auto;border: none;background: none;margin: 0;padding: 0;text-align: left;text-decoration: none;font:12px/1.5 Arial;}

.date_selector{background:#fbfbfb;border: 1px solid #ccc;padding: 10px;margin:0;margin-top:-1px;position: absolute;z-index:100000;display:none;border-radius: 3px;box-shadow: 0 0 5px #aaa;box-shadow:0 2px 2px #ccc; }

.date_selector_ieframe{position: absolute;z-index: 99999;display: none;}

.date_selector .nav{width: 17.5em;}

.date_selector .nav p{clear: none;}

.date_selector .month_nav, .date_selector .year_nav{margin: 0 0 3px 0;padding: 0;display: block;position: relative;text-align: center;}

.date_selector .month_nav{float: left;width: 55%;}

.date_selector .year_nav{float: right;width: 42%;margin-right: -8px;}

.date_selector .month_name, .date_selector .year_name{font-weight: bold;line-height: 20px;}

.date_selector .button{display: block;position: absolute;top: 0;width:18px;height:18px;line-height:16px;font-weight:bold;color:#5985c7;text-align: center;font-size:12px;overflow:hidden;border: 1px solid #ccc;border-radius:2px;}

.date_selector .button:hover, .date_selector .button.hover{background:#5985c7;color: #fff;cursor: pointer;border-color:#3a930d;}

.date_selector .prev{left: 0;}

.date_selector .next{right: 0;}

.date_selector table{border-spacing: 0;border-collapse: collapse;clear: both;margin: 0; width:220px;}

.date_selector th, .date_selector td{width: 2.5em;height: 2em;padding: 0 !important;text-align: center !important;color: #666;font-weight: normal;}

.date_selector th{font-size: 12px;}

.date_selector td{border:1px solid #f1f1f1;line-height: 2em;text-align: center;white-space: nowrap;color:#5985c7;background: #fff;}

.date_selector td.today{background: #eee;}

.date_selector td.unselected_month{color: #ccc;}

.date_selector td.selectable_day{cursor: pointer;}

.date_selector td.selected{background:#2b579a;color: #fff;font-weight: bold;}

.date_selector td.selectable_day:hover, .date_selector td.selectable_day.hover{background:#5985c7;color: #fff;}

.date_select{
	font:12px/1.5 Arial; color:#666;
	border: 1px solid #e0e0e0;
	width: 180px;
	height: 30px;
	padding-left: 15px;
	outline: none;
	background: url(../../img/SuImg/calendar.png)no-repeat 160px 8px;
}

.count{
	margin-top: 10px;
}
.count>input{
	margin-left: 6px;
	width: 60px;
	height: 32px;
	border: #e0e0e0 1px solid;
	padding-left: 5px;
	font-weight: bold;
}
.count>button{
	width: 18px;
	height: 14px;
	border: 1px solid #CCCCCC;
	margin-left: 2px;
	outline: none;
}
.btn_up{
	background: url(../../img/SuImg/btn.png)no-repeat 0px -150px;
}
.btn_down{
	background: url(../../img/SuImg/btn.png)no-repeat 0px -188px;
}
.count+span{
	line-height: 50px;
	margin-left: 10px;
	color: #666;
}
.buy,.add{
	width: 183px;
	height: 40px;
	border-radius: 5px;
	border: 1px #ee9900 solid;
	outline: none;
}
.buy{
	background-color: #ff5000;
	color: white;
}
.buy:hover{
	background-color: #f71d00;
	border: 1px #f71d00 solid;
}

.add{
	margin-left: 5px;
	background-color: white;
	color: #ee9900;
}
.add:hover{
	background-color:#ffeeae;
}
.collect>a{
	padding-left: 20px;
	background: url(../../img/SuImg/bg.png)no-repeat 0 -160px;
}
.collect>a:link,.collect>a:visited{
	text-decoration: none;
	color: #999999;
}
.collect>a:hover{
	color: #f5b33c;
}
.tips>span:last-of-type{
	padding-left: 20px;
	color: #999999;
	display: inline-block;
	background: url(../../img/SuImg/bg.png)no-repeat 0 -199px;
}
/*主要第二部分*/
.detail_2nd{
	width: 1200px;
	margin: 0 auto;
}
.detail_2ndL>div{
	margin-bottom: 5px;
}
/*左边店铺搜索*/

.detail_2L_1st{
	border: 1px #e5e5e5 solid;
	width: 190px;
}
.detail_2L_1st>p{
	padding: 8px 10px;
	border-bottom: 1px #e5e5e5 solid;
	margin-bottom: 20px;
}
.detail_2L_1st>p+ul{
	margin-left: 15px;
}
.detail_2L_1st>p>a{
	text-decoration: none;	
	color: #e90;
}
.detail_2L_1st>ul{
	width: 50px;
	border-right: 1px #e5e5e5 dotted;
}
.detail_2L_1st>ul>li>font{
	color: #1f7700;
}
.detail_2L_1st>button{
	width: 70px;
	height: 25px;
	border: none;
}
.shop_in{
	margin-left: 23px;
	color: #3d3d3d;
	background-color: #ffc900;
}
.shop_in+button{
	color: #355976;
	background-color: #e6ebf1;
}
.detail_2L_1st>div{
	padding: 20px 25px;
	color: #b6b6b6;
}
.detail_2L_2nd,.detail_2L_3rd,.detail_2L_5th,.detail_2L_6th{
	border: #92D1F4 solid;
	border-width: 2px 1px 1px 1px;
	width: 190px;
	padding-bottom: 10px;
}
.detail_2L_2nd>p:first-of-type,.detail_2L_3rd>p:first-of-type,.detail_2L_5th>p:first-of-type,.detail_2L_6th>p:first-of-type{
	border-bottom: 1px #92D1F4 solid;
	padding:5px 15px;
}
.detail_2L_2nd>div{
	padding-left: 10px;
}
.detail_2L_2nd>div>p>span{
	display: inline-block;
	width: 40px;
}
.detail_2L_2nd>div>p:first-of-type>input{
	width: 110px;
	height: 25px;
	outline: none;
	color: gray;
	margin-left: 5px;
	padding-left: 5px;
}
.detail_2L_2nd>div>p:nth-of-type(2)>input{
	width: 35px;
	height: 25px;
	margin: 0px 5px;
}
.detail_2L_2nd>div>p>button{
	width: 50px;
	height: 25px;
}
.detail_2L_2nd>div>a{
	color: #666;
	text-decoration: none;
}
.detail_2L_3rd>div{	
	margin: 0px 8px;
	border-bottom: 1px #dbdbdb dashed;
	padding-bottom: 8px;
}
.detail_2L_3rd>div>b{
	line-height: 25px;
}
.detail_2L_3rd>div>span{line-height: 25px;padding-left: 5px;}
.detail_2L_3rd>div>div{	padding-right: 10px;}
.detail_2L_4th{margin: 20px 0px !important;}
.detail_2L_5th{padding-bottom: 0px !important;}
.detail_2L_5th>p{
	margin: 0 !important;
}
.detail_2L_5th>div:first-of-type>a{
	display: inline-block;
	width: 92px;
	height: 28px;
	text-align: center;
	color: white;
	padding-top: 2px;
	border: none;
}
.detail_2L_5th>div:first-of-type>a:first-of-type{
	background-color: #D2D1D1;
	
}
.detail_2L_5th>div:first-of-type>a:last-of-type{
	background-color: #AFADAD;
}
.rank{
	padding: 0px 8px;
}
.rank_same{
	width: 170px;
	padding: 5px 0px;
	margin: 10px auto;
	border: 1px #dcdcdc solid;
}
.rank>a{
	color: #737373;
}
.rank>p{
	line-height: 30px;
}
.rank>p b{
	color: #D00D16;
}
.classify{	padding-left: 8px;}
.classify_minus{
	/*padding-left: 15px;*/
	
}
.classify_minus>i{
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 16px;
	background: url(../../img/SuImg/detail_za.png)no-repeat -15px -111px;
}
.classify_minus>a{
	color: #666;
	text-decoration: none;
}
.classify_red>a:link,.classify_red>a:visited{
	color: #666;
	text-decoration: none;
}
.classify_red>a:hover{
	color: #f40;
}
