/*通用样式*/
a {
	text-decoration: none;
	color: black;
}
.div_hidden {
	display: none;
}
/*div框的hover边框*/
.divBuleBorder:hover {
	border-color: #2cabc4 !important;
}
.hiddenBtn {
	display: none;
	font-size: 14px;
	font-weight: 400;
	color: #0087c6;
}


/*独立样式*/
.User_main {
	width: 1200px;
}
.User_main nav {
	margin-top: 15px;
}
.User_nav {
	font-size: 16px;
	font-weight: 400;
}
.User_nav li a{
	padding-left: 40px;
	padding-right: 40px;
}
/*我的账户导航*/
.myAccount_nav {
	width: 100px;
	margin-top: 30px;
}
.myAccount_nav li {
	font-size: 14px;
}
.myAccount_nav li.active a{
	background-color: #2cabc4 !important;
}

/*我的账户主内容*/
.myAccount_main {
	width: 1020px;
	margin-left: 30px;
	margin-top: 20px;
}
	.myAccount_main h5 {
			font-weight: bold;
			font-size: 15px;
		}
		.myAccount_main h5 span {
			display: inline-block;
			width: 2px;
			height: 15px;
			margin-right: 5px;
			vertical-align: bottom;
			background-color: #2cabc4;
		}
		
/*我的账户首页*/
.myAccount_SY_mian {
	width: 740px;
	box-sizing: border-box;
}
.myAccount_SY_right {
	width: 280px;
	box-sizing: border-box;
}
.myAccount_SY_mian .ASM_L{
	width: 60%;
}
/*账户余额*/
.A_balance,
.A_hongbao{
	width: 100%;
	height: 120px;
	border: solid .5px gainsboro;
}
	.A_balanceMoney{
		display: inline;
		font-size: 20px;
	}
		.A_balanceMoney span {
			color: #f60;
		}
		.A_balanceMoney span strong {
			font-size: 30px;
			font-weight: 400;
		}
		.A_balanceMoney+a {
			margin-left: 40px;
			font-size: 14px; 
			color: #0087c6;
		}
/*红包*/
	.A_hongbao:hover .hiddenBtn {
		display: block;
	}
/*账户资产*/
.myAccount_SY_mian .ASM_R{
	width: 40%;
	height: 240px;
	border: solid .5px gainsboro;
}
	.ASM_R_table {
		color: gray;
	}
		.ASM_R_table tr:hover .hiddenBtn {
			display: block;
		}
		.ASM_R_table tr td:first-child {
			width: 50%;
		}
		.ASM_R_table tr td:first-child img{
			margin-right: 10px;
			vertical-align: top;
		}
	 	.ASM_R_table td{
	 		border-top: solid;
	 		border-bottom: solid;
	 		border-color: transparent !important;
	 	}
		.ASM_R_table td a {
			font-size: 12px;
		}
/*最近充值记录*/
.myAccount_SY_mian .ASM_ZJCZJL {
	width: 100%;
	margin-top: 25px;
	box-sizing: border-box;
	border: solid 1px gainsboro;
}
	.ASM_ZJCZJL h4 {
		margin: 0;
		height: 35px;
		line-height: 35px;
		font-size: 14px;
		font-weight: bold;
		border-bottom: solid .5px gainsboro;
		background-color: #f7f7f7;
	}
	.ASM_ZJCZJL_data {
		height: 198px;
		line-height: 198px;
	}

/*右边框*/
/*账户信息*/
.A_info,
.A_tip {
	width: 100%;
	margin-left: 15px;
	padding: 1px;
	border: solid .5px gainsboro;
	box-sizing: border-box;
}
.A_tip {
	margin-top: 25px;
	padding-left: 15px;
	padding-right: 15px;
}
.A_tip:hover .hiddenBtn{
	display: block;
}
.A_info h5 {
	margin-left: 10px;
}
.A_info h5 span {
	width: 3px;
}
	.A_user_info {
		margin-bottom: 20px;
	}
	.A_user_info p {
		font-size: 12px;
		font-weight: 100;
	}
	.A_user_info p span {
		margin-left: 10px;
	}
	.A_user_info_foot {
		height: 40px;
		line-height: 40px;
		margin-top: 36px;
		background-color: #fbfcfd;
		border-top: 1px solid #f3f5f7;
	}
	.A_user_info_foot img{
		/*vertical-align: text-top;px*/
		margin-right: 10px;
		margin-bottom: 2px;
	}
	.A_tip_list{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.A_tip_list ul {
		list-style: none;
		padding: 0;
	}
	.A_tip_list li {
		margin: 5px 0;
	}
	.A_tip_list a {
		color: #0084bb;
	}
/*我的账户余额*/
.myAccount_YE div {
	width: 100%;
}
	.myAccount_YE h3 {
		font-weight: bold;
		font-size: 16px;
		margin-top: 10px;
	}
	.MA_YE_detail>div>ul {
		box-sizing: border-box;
		border-top: 2px solid #d2ebfa;
		padding-left: 0px;
		background-color: #f6fbfe;
	}
	.MA_YE_detail>div>ul>li {
		float: left;
		width: 25%;
		padding-left: 20px;
		margin: 15px 0;
		border-left: solid 1px #D3D3D3;
	}
	.MA_YE_detail>div>ul>li>h6 {
		color: #9a9a9c;
	}
	.MA_YE_detail>div>ul>li span {
		font-size: 30px;
		color: #6c6c6c;
	}
		#YE {
			color: #f60;
		}
